.titulo-principal{
    color: #ffffff;
    text-align: center;
    border: 1px solid #000000;
    background-color: darkgreen;
    padding: 10px;
}
.label-form{
    font-size: 15pt;
}
.form-control{


}
.tudo{
    width: 100%;
}

